PIHOLE_INTERFACE={{ pihole_interface }}
{% for ip in dns.upstream_servers %}
PIHOLE_DNS_{{ loop.index }}={{ ip }}
{% endfor %}
QUERY_LOGGING={{ query_logging|lower }}
INSTALL_WEB_SERVER={{ install_web_server|lower }}
INSTALL_WEB_INTERFACE={{ web_admin_interface.install|lower }}
LIGHTTPD_ENABLED={{ lighttpd_enabled|lower }}
CACHE_SIZE={{ cache_size }}
DNS_FQDN_REQUIRED={{ dns.never_forward_non_fqdn|lower }}
DNS_BOGUS_PRIV={{ dns.never_forward_private_rev_lookups|lower }}
DNSMASQ_LISTENING={{ dnsmasq_listening }}
DNSSEC={{ dns.use_dnssec|lower }}
WEBPASSWORD={{ hashed_password }}
BLOCKING_ENABLED={{ blocking_enabled|lower }}
REV_SERVER={{ dns.conditional_forwarding.enabled|lower }}
REV_SERVER_CIDR={{ dns.conditional_forwarding.local_network_cidr }}
REV_SERVER_TARGET={{ dns.conditional_forwarding.dhcp_server }}
REV_SERVER_DOMAIN={{ dns.conditional_forwarding.local_domain_name }}
