PIHOLE_INTERFACE={{ pihole_interface }}
{#
 # PiHole requires that there are at least two entries for DNS servers.
 # If we are using unbound, there will be only one entry (localhost),
 # so PiHole will automatically add the blank second entry. This causes
 # Ansible to detect a change in the config file and (unnecessarily)
 # upload a new one and trigger pihole --reconfigure --unattended.
 # By checking the number of upstream DNS servers, we can add the blank
 # second entry (if required) so Ansible won't detect a change in the
 # config file on future runs.
 #}
{% if upstream_dns_servers|length > 1 %}
{# We have multiple upstream DNS servers; add them all here #}
{% for ip in upstream_dns_servers %}
PIHOLE_DNS_{{ loop.index }}={{ ip }}
{% endfor %}
{% else %}
{# We have only one upstream DNS server; add the required blank entry #}
PIHOLE_DNS_1={{ upstream_dns_servers[0] }}
PIHOLE_DNS_2=
{% endif %}
QUERY_LOGGING={{ query_logging|lower }}
INSTALL_WEB_SERVER={{ install_web_server|lower }}
INSTALL_WEB_INTERFACE={{ web_admin_interface.install|lower }}
{% if web_admin_interface.install %}
WEBPASSWORD={{ hashed_password }}
{% endif %}
LIGHTTPD_ENABLED={{ lighttpd_enabled|lower }}
CACHE_SIZE={{ cache_size }}
DNS_FQDN_REQUIRED={{ dns.never_forward_non_fqdn|lower }}
DNS_BOGUS_PRIV={{ dns.never_forward_private_rev_lookups|lower }}
DNSMASQ_LISTENING={{ dnsmasq_listening }}
DNSSEC={{ dns.use_dnssec|lower }}
BLOCKING_ENABLED={{ blocking_enabled|lower }}
{% if dns.conditional_forwarding.enabled %}
REV_SERVER={{ dns.conditional_forwarding.enabled|lower }}
REV_SERVER_CIDR={{ dns.conditional_forwarding.local_network_cidr }}
REV_SERVER_TARGET={{ dns.conditional_forwarding.dhcp_server }}
REV_SERVER_DOMAIN={{ dns.conditional_forwarding.local_domain_name }}
{% endif %}
{# If we also configure the Pi as the network DHCP server, add these settings #}
{% if dhcp.enabled %}
DHCP_ACTIVE={{ dhcp.enabled|lower }}
DHCP_START={{ dhcp.start }}
DHCP_END={{ dhcp.end }}
DHCP_ROUTER={{ dhcp.router }}
DHCP_LEASETIME={{ dhcp.lease_time_in_hours }}
PIHOLE_DOMAIN={{ dhcp.domain }}
{# These aren't typos; these options are just not all caps for some reason #}
DHCP_IPv6={{ dhcp.do_ipv6|lower }}
DHCP_rapid_commit={{ dhcp.do_v4_rapid_commit|lower }}
{% endif %}
