# pihole-dns - Ansible playbooks to configure a recursive PiHole DNS server
# Copyright (C) 2022  Charles German <5donuts@pm.me>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
---
- name: Update the Pi
  become: yes # the default 'become_user' is 'root'
  block:
  - name: Update repositories
    ansible.builtin.apt:
      update_cache: yes
      cache_valid_time: 604800 # Only update if cache is >= 1 week old

  - name: Upgrade packages
    ansible.builtin.apt:
      upgrade: full

  - name: Clean the cache
    ansible.builtin.apt:
      autoclean: yes

  - name: Remove unnecessary packages
    ansible.builtin.apt:
      autoremove: yes

# Only reboot when /var/run/reboot-required exists
# See: https://askubuntu.com/a/1337721
- name: Reboot if necessary
  ansible.builtin.command:
    cmd: shutdown -r now
    removes: /var/run/reboot-required
  register: restarted
  become: yes

- name: Waiting for restart...
  ansible.builtin.wait_for_connection:
  when: restarted.changed
