server:
    # logfile: "/var/log/unbound/unbound.log"
    verbosity: {{ unbound_cfg.verbosity }}
    interface: {{ unbound_cfg.interface }}
    port: {{ unbound_cfg.port }}
    do-ip4: {{ unbound_cfg.do_ip4 }}
    do-udp: {{ unbound_cfg.do_udp }}
    do-tcp: {{ unbound_cfg.do_tcp }}
    do-ip6: {{ unbound_cfg.do_ip6 }}
    prefer-ip6: {{ unbound_cfg.prefer_ip6 }}
    # root-hints: "/var/lib/unbound/root.hints"
    harden-glue: {{ unbound_cfg.harden_glue }}
    harden-dnssec-stripped: {{ unbound_cfg.harden_dnssec_stripped }}
    use-caps-for-id: {{ unbound_cfg.use_caps_for_id }}
    edns-buffer-size: {{ unbound_cfg.edns_buffer_size }}
    prefetch: {{ unbound_cfg.prefetch }}
    num-threads: {{ unbound_cfg.num_threads }}
    so-rcvbuf: {{ unbound_cfg.so_rcvbuf }}
{% for address in unbound_cfg.private_addresses %}
    private-address: {{ address }}
{% endfor %}
